.form-field {
  padding-left: 15px;
  margin-bottom: 10px;

  &__name {
    font-weight: bold;
  }
  &__input {
    margin-top: 3px;
    font-size: 15px;
    padding: 3px;
    width: 250px;
  }
  &__select {
    height: 25px;
  }
  &__error {
    color: red;
  }
}
